body {
    background-color: #f5f1df;
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #00155b;
    padding: 50px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(253, 253, 253, 0.1);
}

form h2 {
    color: white;
    text-align: center;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}
